<style>
.main-header {
  	text-align: center;
  	font-size: 50px ;
	color: white ;
}
.active{
	display: inline-block;
}
caption{
	font-size: 20px;
	font-weight: bold ;
}
#weacon{
	color:white;
	text-align: center;
}
#now{
	font-size: 50px ;
}
td,th{
	text-align: center;
}

.dropdown-menu{
	height: 50vh ;
	overflow: scroll;
}
</style>