<style>
body {
	/*this img is from http://www.aibizsolutions.com/img/wallp3.jpg*/
	background-image: url("img/banner.jpg") no-repeat;
	background-color: black ;

}
.main-header {
  	text-align: center;
  	font-size: 50px ;
	color: white ;
}
.active{
	display: inline-block;
}
caption{
	font-size: 20px;
	font-weight: bold ;
}
#weacon{
	color:white;
	text-align: center;
}
#now{
	font-size: 50px ;
}
td,th{
	text-align: center;
}

</style>